<h2><%= @play.user.name %>'s Play</h2>
<p><strong>Formation:</strong> <%= @play.formation %></br>
<strong>Play Name:</strong> <%= @play.name %></br>
<strong>Setup:</strong> <%= @play.setup %></p>

<% if current_user == @play.user %>
    <form action="/plays/<%= @play.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <button type="submit">DELETE THIS PLAY</button>
    </form>
    <a class="edit" href='/plays/<%= @play.id %>/edit'>EDIT THIS PLAY</a></br>
    <a class="edit" href='/plays/new'>CREATE A NEW PLAY</a>
<% end %>